 <!-- Loading Header modules from snippets -->
 <%- include('snippets/header') %>

<main class="max-w-screen-xl px-16 mx-auto">
      <!-- Admin Section: User List -->
  <section class="bg-white p-5">
    <h1 class="text-3xl font-semibold mb-8 ">Admin - User List</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <% users.forEach(user => { %>
        <div class="bg-gray-200 rounded-lg shadow-md p-6 flex justify-between items-center">
          <div>
            <h2 class="text-2xl font-semibold  mb-4"><%= user.name %></h2>
            <ul class="">
              <li><span class="text-gray-800 font-semibold">Email:</span> <%= user.email %></li>
              <li><span class="text-gray-800 font-semibold">Phone:</span> <%= user.phone %></li>
              <li><span class="text-gray-800 font-semibold">Role:</span> <%= user.role %></li>
              <li><span class="text-gray-800 font-semibold">Gender:</span> <%= user.gender %></li>
              <li><span class="text-gray-800 font-semibold">Location:</span> <%= user.location %></li>
            </ul>
          </div>
        </div>
      <% }) %>
    </div>
  </section>
</main>
      
 <!-- Loading Footer modules from snippets -->
 <%- include('snippets/footer') %>
   



