<!DOCTYPE html>
<html lang="en">
<head>
  <title>Job Details</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
  <nav class="bg-teal-800 p-4 py-2 fixed z-0 w-full mb-40 top-0">
    <div class="max-w-screen-xl p-2 sm:px-16 mx-auto flex justify-between items-center">
        <div class="flex items-center space-x-4">
          <a href="/" class="text-white text-lg font-semibold flex items-center bg-white p-2 space-x-2 rounded">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkXihGXJM9cuLB9CJ0utK5kqx9YctTG9Zju7mlX9XrOaaNfUphxrnSXOcxvwZQNoc7fK4&usqp=CAU" width="30px" alt="">
            <span class="text-black text-lg">JobScope</span>
        </a>
        </div>
        <div class="hidden md:flex items-center space-x-4 text-lg">
            <a href="/" class="text-gray-300 hover:text-white">Home</a>
            <% if (user && user.role !== 'user') { %>  
              <a href="/admin/applications" class="text-gray-300 hover:text-white">Admin</a>
            <% } %>
            <a href="/profile" class="text-gray-300 hover:text-white">Profile</a>
            <a href="/logout" class="text-gray-300 hover:text-white">Logout</a>
        </div>
        <div class="md:hidden">
            <button id="menu-toggle" class="text-gray-300 focus:outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                </svg>
            </button>
        </div>
    </div>
  </nav>

  <div class="max-w-screen-xl p-4 sm:px-16 mx-auto py-10">
    
    <div class="bg-white shadow-md rounded-lg p-8">
      <div class="flex space-x-4 items-center my-4">
        <img 
          src="<%= job.image || 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0X2Q3ryxWPnu2SSVJOrQEzpLaWclFYYOoBA&s' %>" 
          alt="<%= job.title %>" 
          class="w-16 h-16 p-2 rounded-full shadow"
        >
        <h2 class="text-xl font-semibold truncate"><%= job.title %></h2>
      </div>
      <p class="text-gray-600 mb-4"><%= job.description %></p>
      <p class="text-gray-800"><strong>Company:</strong> <%= job.company %></p>
      <p class="text-gray-800"><strong>Location:</strong> <%= job.location %></p>
      <a href="/apply/<%= job.id %>" class="mt-6 inline-block bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">Apply Now</a>
    </div>
  </div>

  <footer class="bg-teal-800 p-4 fixed z-0 w-full bottom-0 text-white text-lg text-center ">
    &#169; JobScope
  </footer>
</body>
</html>
